<footer>
  <nav class="w-full bg-slate-900 text-amber-50 flex flex-col justify-center items-center gap-3 py-6">
    <div class="flex flex-row gap-10 items-center p-3">
      <div>
        <a href="/about">About</a>
      </div>
      <div>
        <a href="/contact">Contact</a>
      </div>
      <div>
        <a href="/authors">Authors</a>
      </div>
    </div>
    
    <div class="w-4/5 mx-auto h-0.5 rounded-2xl bg-amber-100"></div>
    
    <div>
      <p>Made with ❤️ in India</p>
    </div>
    
    <div class="w-4/5 mx-auto h-0.5 rounded-2xl bg-amber-100"></div>
    
    <div>
      <p>Copyright © <%= new Date().getFullYear() %></p>
    </div>
  </nav>
  <script src="../../style/index.js"></script>
</footer>
