<%- include("partials/header.ejs") %>

<main>
  <div style="background-image: url(./assests/images/bg-2.jpg);">
    <div class="w-3/4 h-96 mx-auto items-center flex flex-col gap-2 p-4 text-amber-50">
      <h1 class="text-2xl">About me</h1>
      <img class="h-60 w-auto" src="./assests/images/about.png" alt="about">
      <p>
        Myself Shivansh Ksheera Sagar, creator of this blog application.
      </p>
    </div>
  </div>
</main>

<%- include("partials/footer.ejs") %>
