<%- include("partials/header.ejs") %>

<div>
  <div style="background-image: url(./assests/images/bg-2.jpg);">
    <div class="w-3/4 h-auto mx-auto items-center flex flex-col gap-4 p-4 text-amber-50">
      <h1 class="text-2xl">Contact details</h1>
      <img class="h-60 w-auto" src="./assests/images/contact.gif" alt="contact">

      <ul class="list-disc list-inside text-lg space-y-2">
        <li>Email: shivansh@gmail.com</li>
        <li>Phone: +91 4035917711</li>
        <li>Address: Hyderabad, Telangana</li>
        <li>Pincode: 500044</li>
      </ul>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
